body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}
section {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.6),
      rgba(39, 32, 68, 0.6)
    ),
    url("/images/sevilla.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 300px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 0;
}
header h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  margin: 30px 0;
}
header p {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 20px 0;
  letter-spacing: 5px;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  background-color: #fff;
  color: #272044;
  padding: 16px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  margin-top: 32px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("/images/sevillefooter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 92px;
}
footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
footer a {
  color: #fff;
  opacity: 0.7;
}
footer p {
  opacity: 0.6;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-right: 30px;
}
footer .end {
  text-align: center;
}
.end {
  text-align: center;
}

@media (max-width: 800px) {
  header h1 {
    font-size: 48px;
  }
  header h3 {
    font-size: 22px;
  }
  header p {
    font-size: 16px;
  }
}
