body {
  font-family: "Poppins", sans-serif;
  background: rgb(230, 229, 229);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
section {
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-color: #f8f8f8;
}

header {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.6),
      rgba(39, 32, 68, 0.6)
    ),
    url("/images/sevilla.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 300px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 0;
}
header h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  margin: 30px 0;
}
header p {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 20px 0;
  letter-spacing: 5px;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  background-color: #fff;
  color: #272044;
  padding: 16px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  margin-top: 32px;
}
main {
  background-color: #fff;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: #272044;
  margin: 0;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #272044;
  opacity: 0.7;
}
.text-center {
  text-align: center;
}
.img-responsive {
  max-width: 100%;
  display: block;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-two-col {
  grid-template-columns: 1fr 1fr;
}
.grid-three-col-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-three-col {
  grid-template-columns: 1fr 1fr 1fr;
}
.card-heading.grid {
  grid-gap: 0;
}
.card {
  background-color: #fff;
  margin: 80px 0;
}
.card-body {
  padding: 24px 32px;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}
h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #272044;
  margin: 0;
}
.btn {
  background-color: #462cb3;
  color: #fff;
  padding: 16px 32px;
  text-transform: uppercase;
  display: block;
  margin-top: 30px;
  text-decoration: none;

  text-align: center;
  letter-spacing: 3px;
}
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("/images/sevillefooter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
footer a {
  color: #fff;
  opacity: 0.7;
}
footer p {
  opacity: 0.6;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
footer .end {
  text-align: center;
}
.end {
  text-align: center;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 48px;
  }
  header h3 {
    font-size: 22px;
  }
  header p {
    font-size: 16px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  .card-heading img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
  .card {
    margin-bottom: 0px;
    margin-top: 20px;
  }
}
